@charset "utf-8";
/* CSS Document */

@media (min-width: 1024px){
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: candara;
	src: url("../Fonts/Candara_Bold.ttf");
}
@font-face{
	font-family: calibri;
	src: url("../Fonts/calibri-font-family/calibri-regular.ttf");
}
.logo{
	width: 20%;
}
.boxx{
	display: flex;
	background-color: #e4d5ee;
	height: 60px;
	justify-content:space-around;
}
.box1{
	display: flex;
	background-color: #c49ecf;
	height: 60px;
	justify-content:space-around;
}
.box2{
	position: relative;
	width: 420px;
	height: 288px;
	margin: 41 auto;
}
.box3{
	display: flex;
	justify-content:space-around;
	margin: 41px auto;
	flex-direction: row;
}
.box4{
	display: flex;
	justify-content: space-around;
	margin: 55px auto;
}
.box4>div{
	background-color: #c49ecf;
	width: 205px;
	height: 205px;
	margin: auto;
	
}
.boxx>div{
	margin: auto 10px;
	font-family: calibri;
	font-size: 15pt;
	color: #530b52;
}
.box1>div{
	margin: auto;
	color: #530b52;
}
.boxx4{
	background-color: #a270c8; 
	display: flex;
	height: auto;
	align-items: center;
	font-family: calibri;
}
.boxx4>div{
	width: 250px;
	justify-content: space-between;
	margin: 30px auto;
	color: #FFFFFF;
}
.box2>div{
	font-family: calibri;
	font-size: 13pt;
}
h2{
	font-family: calibri;
}
h3{
	font-family: candara;
	font-size: 20pt;
}
body{
	background-color: #e4d5ee;
}
.dsg{
	width: 420px;
	height: 288px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a270c8;
}
.box2:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:left;
}
.co{
	width: 36px;
	height: 28px;
}
.ig{
	width: 28px;
	height: 28px;
}
.be{
	width: 29px;
	height: 29px;
}
.alitas{
	width: 205px;
	height: 205px;
}
.alitas2{
	width: 205px;
	height: 205px;
}
a:hover {
  background-color: #fbd244;
  color: black;
	font-weight: bold;
}
a.active {
  background-color: #c49ecf;
}
a {
  float: left;
  display: block;
  color:  #530b52;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.flecha {
	padding:10px;
	background:#fbd244;
	color:#fff;
	cursor:pointer;
	bottom:20px;
	right:20px;
	width: 60px;
	height: 60px;
}
a:hover.bot {
  background-color: none;
  color: black;
}
a.active.bot {
  background-color: #c49ecf;
}
a.bot{
  float: left;
  display: block;
  color:  #FFFFFF;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
}
@media (max-width: 1024px){
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: candara;
	src: url("../Fonts/Candara_Bold.ttf");
}
@font-face{
	font-family: calibri;
	src: url("../Fonts/calibri-font-family/calibri-regular.ttf");
}
.logo{
	width: 20%;
}
.boxx{
	display: flex;
	background-color: #e4d5ee;
	height: 60px;
	justify-content:space-around;
}
.box1{
	display: flex;
	background-color: #c49ecf;
	height: 60px;
	justify-content:space-around;
}
.box2{
	position: relative;
	width: 420px;
	height: 288px;
	margin: 41 auto;
}
.box3{
	display: flex;
	justify-content:space-around;
	margin: 41px auto;
	flex-direction: column;
	padding: 25px;
	align-content: center;
	align-items: center;
}
.box4{
	display: flex;
	justify-content: space-around;
	margin: 55px auto;
	flex-direction: column;
}
.box4>div{
	background-color: #c49ecf;
	width: 205px;
	height: 205px;
	margin: auto;
	
}
.boxx>div{
	margin: auto 10px;
	font-family: calibri;
	font-size: 15pt;
	color: #530b52;
}
.box1>div{
	margin: auto;
	color: #530b52;
}
.boxx4{
	background-color: #a270c8; 
	display: flex;
	height: auto;
	align-items: center;
	font-family: calibri;
	padding: 25px;
}
.boxx4>div{
	width: 250px;
	justify-content: space-between;
	margin: 30px auto;
	color: #FFFFFF;
}
.box2>div{
	font-family: calibri;
	font-size: 13pt;
}
h2{
	font-family: calibri;
}
h3{
	font-family: candara;
	font-size: 20pt;
}
body{
	background-color: #e4d5ee;
}
.dsg{
	width: 420px;
	height: 288px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a270c8;
}
.box2:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:left;
}
.co{
	width: 36px;
	height: 28px;
}
.ig{
	width: 28px;
	height: 28px;
}
.be{
	width: 29px;
	height: 29px;
}
.alitas{
	width: 205px;
	height: 205px;
}
.alitas2{
	width: 205px;
	height: 205px;
}
a:hover {
  background-color: #fbd244;
  color: black;
	font-weight: bold;
}
a.active {
  background-color: #c49ecf;
}
a {
  float: left;
  display: block;
  color:  #530b52;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.flecha {
	padding:10px;
	background:#fbd244;
	color:#fff;
	cursor:pointer;
	bottom:20px;
	right:20px;
	width: 60px;
	height: 60px;
}
a:hover.bot {
  background-color: none;
  color: black;
}
a.active.bot {
  background-color: #c49ecf;
}
a.bot{
  float: left;
  display: block;
  color:  #FFFFFF;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
}
@media (max-width: 768px){
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: candara;
	src: url("../Fonts/Candara_Bold.ttf");
}
@font-face{
	font-family: calibri;
	src: url("../Fonts/calibri-font-family/calibri-regular.ttf");
}
.logo{
	width: 50%;
}
.boxx{
	display: flex;
	background-color: #e4d5ee;
	height: 60px;
	justify-content:space-around;
}
.box1{
	display: flex;
	background-color: #c49ecf;
	height: 60px;
	justify-content:space-around;
}
.box2{
	position: relative;
	width: 420px;
	height: 288px;
	margin: 41 auto;
}
.box3{
	display: flex;
	justify-content:space-around;
	margin: 41px auto;
	flex-direction: column;
	padding: 25px;
	align-content: center;
	align-items: center;
}
.box4{
	display: flex;
	justify-content: space-around;
	margin: 55px auto;
	flex-direction: column;
}
.box4>div{
	background-color: #c49ecf;
	width: 205px;
	height: 205px;
	margin: auto;
	
}
.boxx>div{
	margin: auto 10px;
	font-family: calibri;
	font-size: 15pt;
	color: #530b52;
}
.box1>div{
	margin: auto;
	color: #530b52;
}
.boxx4{
	background-color: #a270c8; 
	display: flex;
	height: auto;
	align-items: center;
	font-family: calibri;
	padding: 25px;
}
.boxx4>div{
	width: 250px;
	justify-content: space-between;
	margin: 30px auto;
	color: #FFFFFF;
}
.box2>div{
	font-family: calibri;
	font-size: 13pt;
}
h2{
	font-family: calibri;
}
h3{
	font-family: candara;
	font-size: 20pt;
}
body{
	background-color: #e4d5ee;
}
.dsg{
	width: 420px;
	height: 288px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a270c8;
}
.box2:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:left;
}
.co{
	width: 36px;
	height: 28px;
}
.ig{
	width: 28px;
	height: 28px;
}
.be{
	width: 29px;
	height: 29px;
}
.alitas{
	width: 205px;
	height: 205px;
}
.alitas2{
	width: 205px;
	height: 205px;
}
a:hover {
  background-color: #fbd244;
  color: black;
	font-weight: bold;
}
a.active {
  background-color: #c49ecf;
}
a {
  float: left;
  display: block;
  color:  #530b52;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.flecha {
	padding:10px;
	background:#fbd244;
	color:#fff;
	cursor:pointer;
	bottom:20px;
	right:20px;
	width: 60px;
	height: 60px;
}
a:hover.bot {
  background-color: none;
  color: black;
}
a.active.bot {
  background-color: #c49ecf;
}
a.bot{
  float: left;
  display: block;
  color:  #FFFFFF;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
}
@media (max-width: 640px) and (orientation:landscape){
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: candara;
	src: url("../Fonts/Candara_Bold.ttf");
}
@font-face{
	font-family: calibri;
	src: url("../Fonts/calibri-font-family/calibri-regular.ttf");
}
.logo{
	width: 70%;
}
.boxx{
	display: flex;
	background-color: #e4d5ee;
	height: 60px;
	justify-content:space-around;
}
.box1{
	display: flex;
	background-color: #c49ecf;
	height: 60px;
	justify-content:space-around;
}
.box2{
	position: relative;
	width: 420px;
	height: 288px;
	margin: 41 auto;
}
.box3{
	display: flex;
	justify-content:space-around;
	margin: 41px auto;
	flex-direction: column;
	padding: 25px;
	align-content: center;
	align-items: center;
}
.box4{
	display: flex;
	justify-content: space-around;
	margin: 55px auto;
	flex-direction: column;
}
.box4>div{
	background-color: #c49ecf;
	width: 205px;
	height: 205px;
	margin: auto;
	
}
.boxx>div{
	margin: auto 10px;
	font-family: calibri;
	font-size: 15pt;
	color: #530b52;
}
.box1>div{
	margin: auto;
	color: #530b52;
}
.boxx4{
	background-color: #a270c8; 
	display: flex;
	height: auto;
	align-items: center;
	font-family: calibri;
	padding: 25px;
}
.boxx4>div{
	width: 250px;
	justify-content: space-between;
	margin: 30px auto;
	color: #FFFFFF;
}
.box2>div{
	font-family: calibri;
	font-size: 13pt;
}
h2{
	font-family: calibri;
}
h3{
	font-family: candara;
	font-size: 20pt;
}
body{
	background-color: #e4d5ee;
}
.dsg{
	width: 420px;
	height: 288px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a270c8;
}
.box2:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:left;
}
.co{
	width: 36px;
	height: 28px;
}
.ig{
	width: 28px;
	height: 28px;
}
.be{
	width: 29px;
	height: 29px;
}
.alitas{
	width: 205px;
	height: 205px;
}
.alitas2{
	width: 205px;
	height: 205px;
}
a:hover {
  background-color: #fbd244;
  color: black;
	font-weight: bold;
}
a.active {
  background-color: #c49ecf;
}
a {
  float: left;
  display: block;
  color:  #530b52;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.flecha {
	padding:10px;
	background:#fbd244;
	color:#fff;
	cursor:pointer;
	bottom:20px;
	right:20px;
	width: 60px;
	height: 60px;
}
a:hover.bot {
  background-color: none;
  color: black;
}
a.active.bot {
  background-color: #c49ecf;
}
a.bot{
  float: left;
  display: block;
  color:  #FFFFFF;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
}
@media (max-width: 360px){
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: candara;
	src: url("../Fonts/Candara_Bold.ttf");
}
@font-face{
	font-family: calibri;
	src: url("../Fonts/calibri-font-family/calibri-regular.ttf");
}
.logo{
	width: 0%;
}
.boxx{
	display: flex;
	background-color: #e4d5ee;
	height: 60px;
	justify-content:space-around;
}
.box1{
	display: flex;
	background-color: #c49ecf;
	height: 60px;
	justify-content:space-around;
}
.box2{
	position: relative;
	width: 420px;
	height: 288px;
	margin: 41 auto;
}
.box3{
	display: flex;
	justify-content:space-around;
	margin: 41px auto;
	flex-direction: column;
	padding: 25px;
	align-content: center;
	align-items: center;
}
.box4{
	display: flex;
	justify-content: space-around;
	margin: 55px auto;
	flex-direction: column;
}
.box4>div{
	background-color: #c49ecf;
	width: 205px;
	height: 205px;
	margin: auto;
	
}
.boxx>div{
	margin: auto 1px;
	font-family: calibri;
	color: #530b52;
	font-size: 11pt;
}
.box1>div{
	margin: auto;
	color: #530b52;
}
.boxx4{
	background-color: #a270c8; 
	display: flex;
	height: auto;
	align-items: center;
	font-family: calibri;
	padding: 25px;
	flex-direction: column;
}
.boxx4>div{
	width: 250px;
	justify-content: space-between;
	margin: 20px auto;
	color: #FFFFFF;
	font-size: 10pt;
}
.box2>div{
	font-family: calibri;
	font-size: 13pt;
}
h2{
	font-family: calibri;
}
h3{
	font-family: candara;
	font-size: 20pt;
}
body{
	background-color: #e4d5ee;
}
.dsg{
	width: 420px;
	height: 288px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a270c8;
}
.box2:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:left;
}
.co{
	width: 36px;
	height: 28px;
}
.ig{
	width: 28px;
	height: 28px;
}
.be{
	width: 29px;
	height: 29px;
}
.alitas{
	width: 205px;
	height: 205px;
}
.alitas2{
	width: 205px;
	height: 205px;
}
a:hover {
  background-color: #fbd244;
  color: black;
	font-weight: bold;
}
a.active {
  background-color: #c49ecf;
}
a {
  float: left;
  display: block;
  color:  #530b52;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.flecha {
	padding:10px;
	background:#fbd244;
	color:#fff;
	cursor:pointer;
	bottom:20px;
	right:20px;
	width: 50px;
	height: 50px;
}
a:hover.bot {
  background-color: none;
  color: black;
}
a.active.bot {
  background-color: #c49ecf;
}
a.bot{
  float: left;
  display: block;
  color:  #FFFFFF;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
}
